<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

{% block meta %}
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
{% endblock meta %}

<title>{% block title %}Example Project{% endblock title %}</title>

{% block extra_styles %}
{% endblock extra_styles %}

{% block extra_scripts %}
{% endblock extra_scripts %}

</head>

<body>

{% block body %}

{% endblock body %}
</body>
</html>
