{% extends "base.html" %}
{% block extra_styles %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/styles.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}fancybox/jquery.fancybox-1.2.6.css" media="screen" />
{% endblock extra_styles %}

{% block extra_scripts %}
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.0/jquery.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}fancybox/jquery.fancybox-1.2.6.pack.js"></script>

    <script type="text/javascript" src="{{ STATIC_URL }}js/script.js"></script>
{% endblock extra_scripts %}

{% block body %}
<div id="main">
	<a id="addButton" class="green-button" href="{% url sticky_new_note %}">Add a note</a>

    {% for note in notes %}
	<div class="note {{ note.color }}" style="left:{{ note.x }}px;top:{{ note.y }}px;z-index:{{ note.z }}">
        <div class="close">x</div>
        {{ note.text }} 
		<div class="author">{{ note.name }}</div>
		<span class="data">{{ note.id }}</span>
	</div>
    {% endfor %}

</div>

{% endblock body %}
